<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<timestamp key="ByDay" datePattern="yyyyMMdd'-'HHmmss"/>
	
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{50} - %msg%n</pattern>
		</encoder>
	</appender>
	
	<appender name="FILE" class="ch.qos.logback.core.FileAppender">
		<file>E:\Pranil Pathare\Project_1_GiftsOnline\GiftsOnlineLogs\log-${ByDay}.txt</file>
		<append>true</append>
		<encoder>
			<pattern>%-4relative [%thread] %-5level %logger{50} - %msg%n</pattern>
		</encoder>
	</appender>
	
	<root level="debug">
		<appender-ref ref="FILE" />
		<appender-ref ref="STDOUT" />
	</root>
</configuration>